<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionbluu.HPpassport" version="1.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

    <name>High Point Passport to Savings</name>
    <description>
        The High Point Convention and Visitors Bureau's Passport to Savings program.
    </description>
    <author email="andrew@ionbluu.com" href="http://ionbluu.com">
        ionbluu
    </author>

    <platform name="ios" />
    <platform name="android" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />

    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="android-minSdkVersion" value="26" />
    <preference name="android-targetSdkVersion" value="28" />

    <icon src="www/res/icon.png" />
    <icon src="www/res/icon-1024.png" width="1024" height="1024" />

    <!-- ======================================== -->

    <platform name="ios">

        <!-- ICONS -->

        <!-- iPhone 6 / 6+ -->
        <icon src="www/res/ios/icon/icon-60@3x.png" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="www/res/ios/icon/icon-60.png" width="60" height="60" />
        <icon src="www/res/ios/icon/icon-60@2x.png" width="120" height="120" />

        <!-- iPad -->
        <icon src="www/res/ios/icon/icon-76.png" width="76" height="76" />
        <icon src="www/res/ios/icon/icon-76@2x.png" width="152" height="152" />
        <icon src="www/res/ios/icon/icon-83.5@2x.png" width="167" height="167" />

        <!-- Settings Icon -->
        <icon src="www/res/ios/icon/icon-small.png" width="29" height="29" />
        <icon src="www/res/ios/icon/icon-small@2x.png" width="58" height="58" />
        <icon src="www/res/ios/icon/icon-small@3x.png" width="87" height="87" />

        <!-- Spotlight Icon -->
        <icon src="www/res/ios/icon/icon-40.png" width="40" height="40" />
        <icon src="www/res/ios/icon/icon-40@2x.png" width="80" height="80" />
        <icon src="www/res/ios/icon/icon-40@3x.png" width="120" height="120" />

        <!-- Splash Screens -->

        <splash src="www/res/ios/splash/Default-iphone.png" width="320" height="480" />
        <splash src="www/res/ios/splash/Default@2x-iphone.png" width="640" height="960" />
        <splash src="www/res/ios/splash/Default-Portrait-ipad.png" width="768" height="1024" />
        <splash src="www/res/ios/splash/Default-Portrait@2x-ipad.png" width="1536" height="2048" />
        <splash src="www/res/ios/splash/Default-568h@2x-iphone.png" width="640" height="1136" />
        <splash src="www/res/ios/splash/Default-667h.png" width="750" height="1334" />
        <splash src="www/res/ios/splash/Default-736h.png" width="1242" height="2208" />
    </platform>

    <!-- ======================================== -->

    <platform name="android">

        <!-- ICONS -->

        <icon src="www/res/android/icon/ldpi.png" qualifier="ldpi" />
        <icon src="www/res/android/icon/mdpi.png" qualifier="mdpi" />
        <icon src="www/res/android/icon/hdpi.png" qualifier="hdpi" />
        <icon src="www/res/android/icon/xhdpi.png" qualifier="xhdpi" />
        <icon src="www/res/android/icon/xxhdpi.png" qualifier="xxhdpi" />
        <icon src="www/res/android/icon/xxxhdpi.png" qualifier="xxxhdpi" />
        <icon src="www/res/android/icon/fr-xxhdpi.png" qualifier="fr-xxhdpi" />

        <!-- Splash Screens -->

        <splash src="www/res/android/splash/hdpi.png" density="port-hdpi" />
        <splash src="www/res/android/splash/ldpi.png" density="port-ldpi" />
        <splash src="www/res/android/splash/mdpi.png" density="port-mdpi" />
        <splash src="www/res/android/splash/xhdpi.png" density="port-xhdpi" />
        <splash src="www/res/android/splash/xxhdpi.png" density="port-xxhdpi" />
        <splash src="www/res/android/splash/xxxhdpi.png" density="port-xxxhdpi" />
    </platform>

  
    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.3" />

</widget>
